@font-face {
    font-family: 'Aclonica';
    font-style: normal;
    src: url('public/fonts/Aclonica-Regular.ttf') format('truetype');
}

body{
    margin: 0px;
    background-color: rgb(245, 245, 245);
    /* background: linear-gradient(to right, #2e4723, #f8ffc8); */
}

#header{
    color: rgb(29, 107, 29);
    margin: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    
}
.btn{
    background-color: rgb(10, 77, 54);
}
.maincard{
  display: inline-flex;
  margin: 6px;
  padding:3px;
  width: 216px;
  /* border: 1px solid rgb(168, 167, 167); */
  /* border-radius: 12px; */
  transition: transform 0.4s ease-in-out;
}
.hygeienecard{
    display: inline-flex;
    margin: 6px;
    padding:3px;
    width: 216px;
    /* border: 1px solid rgb(168, 167, 167); */
    border-radius: 12px;
    transition: transform 0.4s ease-in-out;
}
.beautecard{
  display: inline-flex;
  margin: 6px;
  padding:3px;
  width: 216px;
  /* border: 1px solid rgb(168, 167, 167); */
  border-radius: 12px;
  transition: transform 0.4s ease-in-out;
}
.medicamentcard{
  display: inline-flex;
  margin: 6px;
  padding:3px;
  width: 216px;
  /* border: 1px solid rgb(168, 167, 167); */
  /* border-radius: 12px; */
  transition: transform 0.4s ease-in-out;
}
.complementcard{
   display: inline-flex;
    margin: 6px;
    padding:3px;
    width: 216px;
    /* border: 1px solid rgb(168, 167, 167); */
    border-radius: 12px;
    transition: transform 0.4s ease-in-out;
}
.card:hover {
  /* scale the card by 5% on hover */
  transform: scale(1.05);
}
#cardprix{
  padding: 3px;
  border-radius: 47px;
  border: 1px solid black;
  background-color: rgb(2, 211, 30);
  width: 80px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

#cardtittle{
  font-size: 18px;
  font-weight: 400;
}

#cardbtn{
  width: 11rem;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  background-color: rgb(2, 211, 30);
}
#cardbtn:hover{
  background-color: rgb(22, 56, 29);

}



.icons-cntainer{
  position: absolute;
  top: 16;
  right: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* #medicamentimg{
  border-radius: 12px;

} */


#search-icon{
  width: 45px;
  height: 45px;
  margin-right: 50px;
}
.span{
  margin-top: 30px;
}
.search-bar-container{
    background-color: #ffffff;
    height: 75px;
}
.search-form{
    width: 30rem;
    margin-left: 5rem;
}
.search-form input{
    font-size: 16px;
    font-family: 'Aclonica';
    border-radius: 6px;
    margin-top: -26px;
    margin-right: 25px;
    /* margin-bottom: 14px; */
}
@media (max-width: 776px) {
  .search-form input {
    width: 20rem;
    margin-left: 1rem;
    align-items: center;
  }
}



.nav-link{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 17px;
    font-family:  'Aclonica';
}
.nav-link:hover{
    color: rgb(0, 0, 0);
    
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  align-items: center;
}

.dropdown-item{
  color: black;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Aclonica';
}
/* .nav-item:hover{
  background-color: rgb(15, 56, 26);  
  border-radius: 20px;
  color: white;
} */
.navbar{
  background-color: #73b504;
    align-items: center;
    height: 60px;
    
}
#shoppingcartIcon{
  font-size: 28px;
}
/* .badge-danger:hover{
  color: black;
} */
.icon{
    width:25px;
    height: 25px;
    border: none;
}
.icon:hover{
    color: rgb(157, 233, 139);

}
#icon{
    margin: 20px 20px;
}
.navbar-brand{
    text-decoration: none;
    color: white;
    font-family:  'Aclonica';
}
.navbar-brand:hover{
    color: rgb(157, 233, 139);
}

@media (max-width: 480) {
    /* Style the navbar for small screens */
    .navbar-nav {
      flex-direction:column
    }
  }
.header{
    text-align: left;
    margin-left: -20rem;
    font-size: 25px;
    color: black;
    padding: 10px;
}

* {
    box-sizing: border-box;
}
  
/* Position the image container (needed to position the left and right arrows) */
  .slideshow-container {
    position: relative;
}
  
/* Hide the images by default */
  .mySlides {
    display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 3%;
    width: auto;
    /* height: 40px; */
    padding: 16px;
    margin-top: -90px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 34px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgb(139, 255, 183);
    color: rgb(0, 0, 0);
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

.mySlides{
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
}
.mySlides{
  position:relative;

}
.caption {
  position: absolute;
  top: 10px;
  left: 60px;
  /* color: rgb(0, 0, 0); */
  font-size: 39px;
  z-index: 1;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(195, 255, 116) 0%,
    /* #b64edf 29%, */
    #510061 67%,
    #a6ff00 100%
  );
  text-shadow: 2px 2px rgb(0, 0, 0);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 39px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* .img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  position: relative;
}

.img::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
} */


.service-header{
    font-size: 20px ;
    font-family:  'Aclonica';
    margin-left: 38px;
}
.service-container {
  /* position: absolute; */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
    padding: 30px;
}
  
  .item {
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center; /* center items vertically */
    justify-content: center; /* center items horizontally */
    background-color: rgb(254, 255, 253);
    padding: 10px;
    width: 350px;
    box-shadow: 20px;
  }
  .item1 {
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center; /* center items vertically */
    justify-content: center; /* center items horizontally */
    background-color: rgb(254, 255, 253);
    padding: 10px;
    width: 290px;
    box-shadow: 20px;
  }
  
  .icon {
    margin-right: 10px; /* add some spacing between icon and text */
    width: 30px;
    height: 30px;
  }

  .service-tite{
    margin-left: 3px;
    font-size: 15px;
    font-family: 'Aclonica';
    text-align: center;
    margin-top: 13px;
  }
  .produits-title{
    font-size: 20px ;
    font-family:  'Aclonica';
    margin-left: 21px;
  }

.produits-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.produits-seemore{
  
  display: flex;
  text-decoration: none;
  /* font-family: 'Aclonica'; */

}
.produits-title {
  white-space: nowrap;
}
.produits-seemore:hover{
  text-decoration: underline;
  color: blue;
}


.produitslist-container{
  margin-left: 16px;
}
.produits-title2{
  font-size: 20px ;
  font-family:  'Aclonica';
  margin-left: 19px;
  margin-top: 1rem;
}
.popular-header{
  font-size: 20px ;
  font-family:  'Aclonica';
  margin-left: 19px;
}

.popular-container{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.itempopular {
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  align-items: center; /* center items vertically */
  justify-content: center; /* center items horizontally */
  background-color: rgb(254, 255, 253);
  padding: 3px;
  width: 180px;
  box-shadow: 20px;
}
.itempopular:hover{
  background-color: rgb(175, 175, 175);
}
.popular-tite{
    /* margin-left: 3px; */
    font-size: 15px;
    font-family: 'Aclonica';
    text-align: center;
    margin-top: 13px;
    text-decoration: none;
    color: black;
}
a{
  text-decoration: none;
}
.avis-header{
  font-size: 20px ;
  font-family:  'Aclonica';
  margin-left: 19px;
}

/* #testimonial_area {
	padding: 10% 0;
} */
.box-area {
	padding: 30px;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
	margin: 40px 0;
}
.box-area h5 {
	font-size: 16px;
	font-weight: 700;
	color: #0a92ed;
	margin-top: 30px;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area span {
	color: #262626;
	display: block;
	font-size: 13px;
	margin: 0 0 10px;
}
.box-area .content {
	color: #262626;
}
.box-area .img-area {
	width: 90px;
	height: 90px;
	position: absolute;
	top: -40px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: auto;
	border-radius: 50%;
}
.socials {
	margin-top: 30px;
}
.socials i {
	margin: 0 10px;
	color: #242424;
	font-size: 18px;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #0a69ed;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
}

.marques-header{
  font-size: 20px ;
  font-family:  'Aclonica';
  margin-left: 19px;
}

.marques-container{
  display: flex;
  width: 100%;
  /* margin-left: 10px; */

}
.item-marque {
  border: 1px solid black;
  display: flex;
  background-color: rgb(254, 255, 253);
  padding: 3px;
  width:280px;
  box-shadow:0px 2px 11px #141414;;
  height: 210px;
  margin: 7px;

}
.marque-img{
  width: 260px;
  height: 200px;
}


/* .marques-header2 {
  font-size: 20px;
  font-family: 'Aclonica';
  margin-left: 19px;
} */

.marques-container2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-marque2 {
  border: 1px solid black;
  display: flex;
  background-color: rgb(254, 255, 253);
  padding: 3px;
  /* width: 48%; */
  box-shadow: 0px 2px 11px #141414;
  height: 210px;
  margin: 5px;
}

.item-marque2:nth-child(2n) {
  margin-right: 0;
}

.marque-img2 {
  width: 210px;
  height: 180px;
}




#row{
  background-color: rgb(235, 232, 232);
  margin: 10px;
  padding: 2rem;
}

#descritpion-content{
  justify-content: center;
  text-align: justify;
}

.redommendation-title{
  font-size: 20px ;
    font-family:  'Aclonica';
    margin-left: 10px;
}
.redommendation-header{
  display: flex;
}
/* }
#payement{
  margin: 12px;
}
 */

.rowcontainer{
  display: flex;
}
.hygieneContainer{
  margin-top: 30px;
  background-color: #fff;
  padding: 10px;
}

/* rating style  */

.ratingContainer{
  position: relative;
  width: 400px;
  /* background: #111; */
  /* padding: 20px 30px; */
  /* border: 1px solid #444; */
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ratingContainer .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 25px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
}

.nav-login{
  color: black;
}
.nav-login:hover{
  color: #73b504;
}

/* form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}

form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid #333;
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
} */
/*  */

/* THE SINGLE PRODUCT SECTION : */

.singleProductTitle{
  color: #73b504;
  font-size:29px;

}
.singleProductPrix{
  color: #73b504;
  font-size: 30px;
  font-family: 'Aclonica';
  /* font-weight: 200; */
}
.singleProductLittleDesc{
  font-size: 19px;
  text-align: justify;
  color: #000;
}
.singleProductTags{
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.singleProductButton{
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #5b880d;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background-color:#73b504;
  font-weight: 500;
}

.singleProductButton:hover{
  background-color: #4a7009;
}
.singleProductCategories{
  color: black;
  font-weight:bold;
}
.productdescriptionTitle{
  color: #000000;
  font-size: 35px;
  text-decoration: underline;
}
.productquestion{
  color: #73b504;
  font-size: 27px;
  /* font-weight:00; */
}
.productdetails{
  font-size: 17px;
  text-align: justify;
  color: #000;
}
.conseilsDapplicationTitle{
  color: #73b504;
  font-size: 27px;
  /* text-decoration: underline; */
}
.conseilsDapplicationDesc{
  font-size: 17px;
  text-align: justify;
  color: #000;
}
.ProductAvisClientSTitle{
  color: #73b504;
  font-size: 27px;
}
.divformAvis{
  width: 500px;
  border: 2px solid #5b880d;
  padding: 10px;
  /* display: flex; */
  /* height: 400px; */
}
.formavis{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.formTitle{
  font-size: 19px;
  margin-top: 12px;
}
.BtnAvis{
  padding: 7px;
  width: 140px;
  border-radius: 50px;
  border: 2px solid #5b880d;
  color: rgb(255, 255, 255);
  font-size: 20px;
  background-color:#73b504;
  font-weight: 600;
}
.BtnAvis:hover{
  background-color: #4a7009;
  border: 2px solid #5b880d;
}


